<a href="https://colab.research.google.com/github/PEDROARRAIS05/numero-secreto/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
numeros = list(range(1,11))
numeros_pares = [num for num in numeros if num % 2 == 0]
print('Lista de Números pares:', numeros_pares)

Lista de Números pares: [2, 4, 6, 8, 10]

In [15]:
numeros = list(range(1,11))
numeros.append(11)
numeros.append(12)
numeros.append(13)
numeros.remove(5)
print('Lista de Números:', numeros)

Lista de Números: [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13]

In [16]:
numeros.reverse()
print(numeros)

[13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1]

In [17]:
dados = (10, 20, 30, 40, 50)
print(dados)

(10, 20, 30, 40, 50)

In [18]:
print(dados[3])

40

In [19]:
dados[1] = 43
#Deu erro, pois as tuplas são estruturas de dados imutáveis,logo não podem ser modificadas depois da criação#

TypeError: 'tuple' object does not support item assignment

In [20]:
aluno = {
    'nome': 'Carlos',
    'idade': 21,
    'nota': 7.7
}

print(aluno)

{'nome': 'Carlos', 'idade': 21, 'nota': 7.7}

In [21]:
aluno['nota'] = 9.0
aluno['curso'] = 'Ciências da Computação'
print(aluno)

{'nome': 'Carlos', 'idade': 21, 'nota': 9.0, 'curso': 'Ciências da Computação'}

In [22]:
del aluno['idade']
print(aluno)

{'nome': 'Carlos', 'nota': 9.0, 'curso': 'Ciências da Computação'}

In [24]:
def soma(num1, num2):
  return num1 + num2
num1 = int(input('Digite o primeiro número:'))
num2 = int(input('Digite o segundo número:'))
print(soma(num1, num2))

Digite o primeiro número:23
Digite o segundo número:21
44

In [28]:
import statistics
def media(numeros):
  return statistics.mean(numeros)
print(media([10, 10, 7]))

9

In [32]:
numero = 8
def eh_par(numero):
  if numero % 2 == 0:
    return True
  else:
    return False
print(eh_par(numero))

True